:root {
    --foreground-color-primary: #2f4b66;
    --foreground-color-secondary: #673c4f;
    --foreground-color-secondary-hover: #472936;
    --background-color-primary: #ffffff;
    --background-color-secondary: #f4f6f7;
    --background-color-light: #b2bac1;
    --text-color-primary: #2f4b66;
    --text-color-light: #b2bac1;
    --box-shadow: 2px 2px 20px 3px rgba(0, 0, 0, 0.1);
    --border: 2px solid #4778d9;
    --font-weight-light: 300;
    --font-weight-medium: 500;
    --font-family-light: "Brandon Light", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    --font-family-medium: "Brandon Medium", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    --space-default: 1rem;
    --space-xxs: calc(var(--space-default) / 8); /* 2px */
    --space-xs: calc(var(--space-default) / 4); /* 4px */
    --space-s: calc(var(--space-default) / 2); /* 8px */
    --space-m: calc(var(--space-default)); /* 16px */
    --space-l: calc(var(--space-default) * 2); /* 32px */
    --space-xl: calc(var(--space-default) * 4); /* 64px */
    --space-xxl: calc(var(--space-default) * 8); /* 128px */
    --checkbox-size: 1.5rem;
    --font-scale: 1.2;
    --font-size-1: calc(var(--font-scale) * var(--font-size-2));
    --font-size-2: calc(var(--font-scale) * var(--font-size-3));
    --font-size-3: calc(var(--font-scale) * var(--font-size-4));
    --font-size-4: 1rem;
}

@font-face {
    font-family: "Brandon Light";
    src: url("../fonts/BrandonGrotesque-Light.woff2") format("woff2"), url("../fonts/BrandonGrotesque-Light.woff") format("woff");
    font-stretch: normal;
    font-style: normal;
    font-weight: var(--font-weight-light, 300);
}

@font-face {
    font-family: "Brandon Medium";
    src: url("../fonts/BrandonGrotesque-Medium.woff2") format("woff2"), url("../fonts/BrandonGrotesque-Medium.woff") format("woff");
    font-stretch: normal;
    font-style: normal;
    font-weight: var(--font-weight-medium, 500);
}

html {
    box-sizing: border-box;
    color: var(--text-color-primary, #2f4b66);
    font-size: 100%;
    font-family: var(--font-family-light, "Brandon Light");
}

body {
    margin: 0;
    padding: 0;
    border: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
}

.grid {
    display: grid;
    grid-template-columns: 24.75rem 1fr;
}

.grid__aside {
    box-shadow: var(--box-shadow, 2px 2px 20px 3px rgba(0, 0, 0, 0.1));
    height: 100%;
    padding-left: 2.5rem;
    padding-top: var(--space-xl, 4rem);
}

.grid__main {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    padding-top: var(--space-xl, 4rem);
}

.logo {
    margin-bottom: calc(var(--space-m, 1rem));
}

.content {
    margin-bottom: 2.25rem;
}

.content__row {
    align-items: baseline;
    display: flex;
}

.content__text {
    font-family: var(--font-family-light, "Brandon Light");
    font-size: 0.875rem;
    margin-right: var(--space-m, 1rem);
}

.content__title {
    font-family: var(--font-family-medium, "Brandon Medium");
    font-size: 1.125rem;
}

.title {
    font-family: var(--font-family-medium, "Brandon Medium");
    font-weight: var(--font-weight-medium, 500);
    margin-bottom: var(--space-l, 2rem);
}

.checkbox-wrapper {
    margin-bottom: 3.375rem;
}

[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
    left: -99999px;
    position: absolute;
}

    [type="checkbox"]:not(:checked) + label,
    [type="checkbox"]:checked + label {
        cursor: pointer;
        padding-left: 2.2rem;
        position: relative;
    }

        [type="checkbox"]:not(:checked) + label:before,
        [type="checkbox"]:checked + label:before {
            background-color: var(--background-color-light, #b2bac1);
            border-radius: 2px;
            content: "";
            height: var(--checkbox-size, 1.5rem);
            left: 0;
            position: absolute;
            top: 0;
            width: var(--checkbox-size, 1.5rem);
        }

        [type="checkbox"]:checked + label:before {
            background-color: transparent;
        }

        [type="checkbox"]:not(:checked) + label:after,
        [type="checkbox"]:checked + label:after {
            color: var(--text-color-light, #b2bac1);
            content: "✓";
            left: 0.22rem;
            position: absolute;
            top: 0.15rem;
        }

        [type="checkbox"]:not(:checked) + label:after {
            opacity: 0;
            transform: scale(0) translateZ(0);
        }

        [type="checkbox"]:checked + label:after {
            opacity: 1;
            padding-left: 0.12rem;
            transform: scale(1) translateZ(0);
        }

    [type="checkbox"]:checked:focus + label:before,
    [type="checkbox"]:not(:checked):focus + label:before,
    label:hover:before {
        border: var(--border, 2px solid #4778d9);
    }

.btn {
    background-color: var(--foreground-color-secondary, #673c4f);
    border-radius: 2rem;
    color: #ffffff;
    font-family: var(--font-family-medium, "Brandon Medium");
    font-size: 1.125rem;
    height: 3.375rem;
    line-height: 3.375rem;
    text-align: center;
    text-transform: uppercase;
    width: 19.75rem;
}

    .btn:hover {
        background-color: var(--foreground-color-secondary-hover, #472936);
        cursor: pointer;
    }

.u-visually-hidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.searchbox input {
    background-color: #ffffff;
    background-image: url("../img/search.svg");
    background-position: right var(--space-m, 1rem) center;
    background-repeat: no-repeat;
    background-size: 1.375rem;
    border: 0;
    box-shadow: var(--box-shadow, 2px 2px 20px 3px rgba(0, 0, 0, 0.1));
    color: var(--text-color-primary, #2f4b66);
    display: block;
    font-family: var(--font-family-medium);
    font-size: 1.125rem;
    height: 3.5rem;
    margin-bottom: 2.75rem;
    margin-left: auto;
    margin-right: auto;
    max-width: 80%;
    padding-left: 1.5rem;
    width: 100%;
}

    .searchbox input::-webkit-input-placeholder {
        color: var(--text-color-light, #b2bac1);
        font-size: 1.25rem;
    }

    .searchbox input::-moz-placeholder {
        color: var(--text-color-light, #b2bac1);
        font-size: 1.25rem;
    }

    .searchbox input:-ms-input-placeholder {
        color: var(--text-color-light, #b2bac1);
        font-size: 1.25rem;
    }

    .searchbox input:-moz-placeholder {
        color: var(--text-color-light, #b2bac1);
        font-size: 1.25rem;
    }

.table {
    align-items: center;
    display: grid;
    grid-auto-rows: var(--space-xl, 4rem);
    grid-template-columns: repeat(6, 1fr);
    margin-bottom: 4.5rem;
}

.table__item {
    font-size: 0.875rem;
    height: 4rem;
    line-height: 4rem;
    font-family: var(--font-family-medium, "Brandon Medium");
    padding-left: var(--space-l, 2rem);
}

    .table__item:nth-child(-n + 6) {
        text-transform: uppercase;
        text-align: center;
        padding-left: 0;
    }

.table__item-even {
    background-color: var(--background-color-secondary, #f4f6f7);
}
