<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
    <connectionStrings>
      <add name="dbContext" 
        connectionString="Server=sql.data;Initial Catalog=rewardsdb;Persist Security Info=False;User Id=sa;Password=Pass@word;Trusted_Connection=True;MultipleActiveResultSets=false;TrustServerCertificate=False;Connection Timeout=30;"
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
</configuration>
